/* Let's get this party started */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #aaa;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: rgba(100,100,150,1); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(100,100,150,1); 
}


#topBar, #sideBar, .lineSeparator, .textHolder, .mainPanel, .holder, #cWrapper{
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}

#topBar{
	position: absolute;
    background-image:url(".\\Images\\tile3.png");
	background-repeat:repeat;
}

#logo{
	position: absolute;
	color: #ffa240;
}

#logo:hover{
	cursor: pointer;
}

.textHolder{
	font-family: 'Signika', sans-serif;
	text-align: center;
}

#signup{
	position: absolute;
	color: #fff;
	background-color: #0776A0;
}

#login:hover,#signup:hover{
	background-color: #fff;
	cursor: pointer;
	color: #000;
}

#login{
	position: absolute;
	color: #fff;
}

#centeredText,#centeredText2{
	position: absolute;
	text-align: center;
}

#sideBar{
	position: absolute;
	background-color: #eee;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-color: #aaa;
}

.lineSeparator{
	position: absolute;
	height: 0.25%;
}

#rescalerL,#rescalerR{
	position: absolute;
	background-color: #eee;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: #aaa;
	border-top: 1px solid;
}


.mainPanel{
	position: absolute;
	border-top: 1px solid;
	border-color: #333;
}

#cWrapper{
	position: absolute;
    background-image:url(".\\Images\\tile1.png");
	background-repeat:repeat;
}

.holder{
	position: relative;
   	margin-left: auto;
   	margin-right: auto;
   	top: 2.5%;
	width: 90%;
	height: 95%;
    background-image:url(".\\Images\\tile2.png");
	background-repeat:repeat;
	overflow: auto;
}

.wrapper{
	background-color: #fff;
}

#outer {
	height: 100%; 
	width: 100%;
	overflow: hidden; 
	position: relative;
}

#outer[id] {
	display: table;
 	position: static;
}

/* for quirk explorer only*/
#middle {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	} 

#middle[id] {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	position: static;
}

/* for quirk explorer only */
#innerE {
	position: relative;
	top: -50%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
} 

.shadow {
	-moz-box-shadow: 3px 3px 4px rgba(0,0,0,0.3);
	-webkit-box-shadow: 3px 3px 4px rgba(0,0,0,0.3);
	box-shadow: 3px 3px 4px rgba(0,0,0,0.3);
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='rgba(0,0,0,0.3)')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='rgba(0,0,0,0.3)');
}
.shadowInner {
	-moz-box-shadow: 2px 2px 1px rgba(0,0,0,0.2) inset;
	-webkit-box-shadow: 2px 2px 1px rgba(0,0,0,0.2) inset;
	box-shadow: 2px 2px 1px rgba(0,0,0,0.2) inset;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='rgba(0,0,0,0.2)')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='rgba(0,0,0,0.2)');
	border: 1px solid;
	border-color: #ddd;
}

.darken{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
}

.loginForm{
	position: absolute;
	width: 40%;
	height: 40%;
	top: 30%;
	left: 30%;
    background-image:url(".\\Images\\tile2.png");
	background-repeat:repeat;
	border: 3px solid;
	border-color: #ccc;
}

.inputField{
	position: absolute;
	top: 21%;
	left: 0px;
	width: 35%;
	height: 10%;
	font-size: 28px;
	text-align: right;
	color: #555;
}

#inputField2{
	top:41%;
}

.inputBox{
	position: absolute;
	right: 10%;
	width: 40%;
	height: 10%;
	font-size: 150%;
	top: 20%;
	background-repeat: no-repeat;
	background-size: 12% 100%;
	background-position: left;
	padding-left: 6%;
	background-image:url(".\\Images\\user.png");
}

#inputBox2{
	top:40%;
	background-image:url(".\\Images\\pass.png");
}



#loginOdemia{
	position: absolute;
	top:5%;
	height:10%;
	width: 80%;
	left: 10%;
	text-align: center;
	/*background-color: #f00;*/
	font-size: 130%;
	color: #888;
}

#loginFb{
	position: absolute;
	top:65%;
	height:10%;
	width: 80%;
	left: 10%;
	text-align: center;
	/*background-color: #f00;*/
	font-size: 130%;
	color: #888;

}

.socialLogin{
	position: absolute;
	width: 35%;
	height: 10%;
	top:79%;
}

#facebook{
	left: 14%;
    background-image:url(".\\Images\\facebook.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#facebook:hover{
	-moz-box-shadow: inset 0 0 80px rgba(255,255,255, 0.15);
	-webkit-box-shadow: inset 0 0 80px rgba(255,255,255, 0.15);
	border-radius: 8px;
	cursor: pointer;
}

#facebook:active{
	-moz-box-shadow: inset 0 0 16px rgba(0,0,0, 0.5);
	-webkit-box-shadow: inset 0 0 16px rgba(0,0,0, 0.5);
	border-radius: 8px;
	cursor: pointer;
}

#google{
	right:14%;
    background-image:url(".\\Images\\google.png");
    background-size: 100% 100%;
	background-repeat: no-repeat;
}

#google:hover{
	-moz-box-shadow: inset 0 0 80px rgba(255,255,255, 0.15);
	-webkit-box-shadow: inset 0 0 80px rgba(255,255,255, 0.15);
	cursor: pointer;
	border-radius: 8px;
}
#google:active{
	-moz-box-shadow: inset 0 0 16px rgba(0,0,0, 0.5);
	-webkit-box-shadow: inset 0 0 16px rgba(0,0,0, 0.5);
	cursor: pointer;
	border-radius: 8px;
}

#loginBut{
	position: absolute;
	right:10%;
	top: 55%;
	height: 8%;
	width: 14%;
	background-image:url(".\\Images\\login.png");
    background-size: 100% 100%;
	background-repeat: no-repeat;
	border: none;
	color: white;
}

#loginBut:hover{
	-moz-box-shadow: inset 0 0 80px rgba(255,255,255, 0.15);
	-webkit-box-shadow: inset 0 0 80px rgba(255,255,255, 0.15);
	cursor: pointer;
	border-radius: 3px;
}

#loginBut:active{
	-moz-box-shadow: inset 0 0 8px rgba(0,0,0, 0.5);
	-webkit-box-shadow: inset 0 0 8px rgba(0,0,0, 0.5);
	cursor: pointer;
	border-radius: 3px;
}

.rescaleIcon{
	position: absolute;
	height: 5%;
	width: 100%;
	top: 45%;
	left: 0px;
	background-image:url(".\\Images\\scale.png");
    background-size: 100% 100%;
	background-repeat: no-repeat;
}