#topBar{
	position: absolute;
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
    background-image:url("images\\tile3.png");
	background-repeat:repeat;
}

#sideBar{
	position: absolute;
	background-color: #eee;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-color: #aaa;
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}

.lineSeparator{
	position: absolute;
	height: 0.2%;
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}

#rescalerL,#rescalerR{
	position: absolute;
	background-color: #eee;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: #aaa;
	border-top: 1px solid;
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}


.mainPanel{
	position: absolute;
	border-top: 1px solid;
	border-color: #333;
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}

#cWrapper{
	position: absolute;
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
    background-image:url("images\\tile1.png");
	background-repeat:repeat;
}

.holder{
	display: table;
	position: relative;
   	margin-left: auto;
   	margin-right: auto;
   	top: 2.5%;
	width: 90%;
	height: 95%;
    background-image:url("images\\tile2.png");
	background-repeat:repeat;
}