#topBar{
	position: absolute;
	background-color: #0f0;
}

#sideBar{
	position: absolute;
	background-color: #ddd;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
}

.lineSeparator{
	position: absolute;
	height: 0.2%;
}

#rescalerL{
	position: absolute;
	background-color: #ff0;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
}

#rescalerR{
	position: absolute;
	background-color: #ff0;
	border-left: 1px solid;
	border-top: 1px solid;
	border-bottom: 1px solid;
}

.mainPanel{
	position: absolute;
	border: 1px solid;
}

#cWrapper{
	position: absolute;
	background-color: #0fa;
}

#editorBox{
	position: absolute;
	background-color: #f00;
}
#previewBox{
	position: absolute;
	background-color: #0ff;
}